{% extends "employee_register/index.html" %}
{% block index %}
{% load static %}

<!--Page Header-->
<section id="main-banner-page" class="position-relative page-header service-detail-header_bookkeeping section-nav-smooth parallax">
    <div class="overlay overlay-dark opacity-7 z-index-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="page-titles whitecolor text-center padding_top padding_bottom">
                    <h2 class="font-xlight"></h2>
                    <h2 class="font-bold"></h2>
                    <h2 class="font-xlight"></h2>
                    <h3 class="font-light pt-2"></h3>
                </div> 
            </div>
        </div>
        <div class="gradient-bg title-wrap">
            <div class="row">
                <div class="col-lg-12 col-md-12 whitecolor">
                    <h3 class="float-left">Details</h3>
                    <ul class="breadcrumb top10 bottom10 float-right">
                        <li class="breadcrumb-item hover-light"><a href="{% url 'services' %}">Home</a></li>
                        <li class="breadcrumb-item hover-light">Bookkeeping & VAT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Page Header ends -->
<!-- Services us -->
<section id="our-services" class="padding bglight">
    <div class="container">
        <div class="row whitebox top15">
            <div class="col-lg-4 col-md-5">
                <div class="image widget bottom20"><img alt="SEO" src="{% static 'employee_register/images/bookkeeping.jpg' %}"></div>
                <div class="col-12 px-0">
                    <div class="w-100">
                        <div class="full-map short-map" id="map"></div>
                    </div>
                </div>
                <div class="widget heading_space text-center text-md-left">
                    <h4 class="text-capitalize darkcolor bottom20">Need Help?</h4>
                    <div class="contact-table colorone d-table bottom15">
                        <div class="d-table-cell cells">
                            <span class="icon-cell"><i class="fas fa-mobile-alt"></i></span>
                        </div>
                        <div class="d-table-cell cells">
                            <p class="bottom0">020-737-502-42</p>
                        </div>
                    </div>
                    <div class="contact-table colorone d-table bottom15 text-left">
                        <div class="d-table-cell cells">
                            <span class="icon-cell"><i class="fas fa-map-marker-alt"></i></span>
                        </div>
                        <div class="d-table-cell cells">
                            <p class="bottom0">24 Osborn Street,
                                <span class="d-block"> London E1 6TD.</span>
                            </p>
                        </div>
                    </div>
                    <div class="contact-table colorone d-table text-left">
                        <div class="d-table-cell cells">
                            <span class="icon-cell"><i class="far fa-clock"></i></span>
                        </div>
                        <div class="d-table-cell cells">
                            <p class="bottom0">Mon-Fri: 10am-6pm
                                
                            </p>
                        </div>
                    </div>
                    <a href="{% url 'employee_insert' %}" class="button btnsecondary gradient-btn top30"> Book an Appointment</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="widget heading_space text-center text-md-left">
                    <h3 class="darkcolor font-normal bottom30">Bookkeeping</h3>

                    <p class="bottom30">Bookkeeping is the establishment to business development. Excellent accounting gives 
                    you completely clear image of your business status and accordingly targets can be set,  through examination
                     of past exhibitions would assist you with amending botches and accomplish your monetary objectives. 
                     At Mohsin &co., we give specific consideration to every one of our customers' necessities and handle
                      all of them exclusively because we realize that accounting constantly can burden any organization.</p> 
                     
                    <h3 class="darkcolor font-normal bottom30">VAT</h3>
                      
                      <p class="bottom30">Our experienced professional staff will be glad to manage all parts 
                      of representing your business in our office and gives you sense of  quietness in running your business . 
                      Just as center accounting, we can keep up your VAT records, set up your finance and give the executives 
                      data step by step whenever required.  </p>

                      <p class="bottom30">We attempt to meet our customers bookkeeping prerequisites, whatever they might be.
                       On the off chance that you would like to keep up your own records however are not totally sure where to
                        begin or how to keep your records, we offer a gathering meetings, custom-made to suit your requirements. </p>

                      <p class="bottom30"> Our VAT experts at Mohsin and Co. have the information and experience you need to 
                      take you through the disarray of VAT. Organizations can confront punishments, overcharges in the event
                       that you miss VAT recording cutoff time. It is our moral duties to take care of our customer's records, 
                       with the goal that we can remind the customers in regards to the moving toward cutoff times. </p>


                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Services us ends -->



{% endblock index %}