{% extends "employee_register/index.html" %}
{% block index %}
{% load static %}

<!--Page Header-->
<section id="main-banner-page" class="position-relative page-header service-detail-header_secretarial section-nav-smooth parallax">
    <div class="overlay overlay-dark opacity-7 z-index-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="page-titles whitecolor text-center padding_top padding_bottom">
                    <h2 class="font-xlight"></h2>
                    <h2 class="font-bold"></h2>
                    <h2 class="font-xlight"></h2>
                    <h3 class="font-light pt-2"></h3>
                </div> 
            </div>
        </div>
        <div class="gradient-bg title-wrap">
            <div class="row">
                <div class="col-lg-12 col-md-12 whitecolor">
                    <h3 class="float-left">Details</h3>
                    <ul class="breadcrumb top10 bottom10 float-right">
                        <li class="breadcrumb-item hover-light"><a href="{% url 'services' %}">Home</a></li>
                        <li class="breadcrumb-item hover-light">Company secretarial and others</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Page Header ends -->
<!-- Services us -->
<section id="our-services" class="padding bglight">
    <div class="container">
        <div class="row whitebox top15">
            <div class="col-lg-4 col-md-5">
                <div class="image widget bottom20"><img alt="SEO" src="{% static 'employee_register/images/secretarial.jpg' %}"></div>
                <div class="col-12 px-0">
                    <div class="w-100">
                        <div class="full-map short-map" id="map"></div>
                    </div>
                </div>
                <div class="widget heading_space text-center text-md-left">
                    <h4 class="text-capitalize darkcolor bottom20">Need Help?</h4>
                    <div class="contact-table colorone d-table bottom15">
                        <div class="d-table-cell cells">
                            <span class="icon-cell"><i class="fas fa-mobile-alt"></i></span>
                        </div>
                        <div class="d-table-cell cells">
                            <p class="bottom0">020-737-502-42</p>
                        </div>
                    </div>
                    <div class="contact-table colorone d-table bottom15 text-left">
                        <div class="d-table-cell cells">
                            <span class="icon-cell"><i class="fas fa-map-marker-alt"></i></span>
                        </div>
                        <div class="d-table-cell cells">
                            <p class="bottom0">24 Osborn Street,
                                <span class="d-block"> London E1 6TD.</span>
                            </p>
                        </div>
                    </div>
                    <div class="contact-table colorone d-table text-left">
                        <div class="d-table-cell cells">
                            <span class="icon-cell"><i class="far fa-clock"></i></span>
                        </div>
                        <div class="d-table-cell cells">
                            <p class="bottom0">Mon-Fri: 10am-6pm
                                
                            </p>
                        </div>
                    </div>
                    <a href="{% url 'employee_insert' %}" class="button btnsecondary gradient-btn top30"> Book an Appointment</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="widget heading_space text-center text-md-left">
                    <h3 class="darkcolor font-normal bottom30">Company Secretarial</h3>

                    <p class="bottom30">When maintaining a riotous business, you can't stand to invest 
                    significant energy ensuring you are following the Companies Act. Be that as it may, 
                    you do should know how this enactment influences your Company and its chiefs.
                     We can help via completing the Company secretarial duties for you. Our services include:   </p> 
                      
                      <p class="bottom30">1. Organization arrangements </p>
                      <p class="bottom30">2. Going about as the Company's Registered Office  </p>
                      <p class="bottom30">3. Making and filing of legal returns </p>
                      <p class="bottom30">4. Readiness of all documentation  </p>
                      <p class="bottom30">5. Support and capacity of legal books (share register, minute book, and so on)  </p>
                      <p class="bottom30">6. General counsel on company law </p>

                        <h3 class="darkcolor font-normal bottom30">Company Formations</h3>

                      <p class="bottom30">We can shape Limited Companies electronically that compares straightforwardly 
                      with Companies House. This makes the cycle a lot faster and more savvy than you will discover 
                      somewhere else. It additionally implies your Statutory Books, Share Certificates and Incorporation 
                      Certificate are all in electronic format.</p>

                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Services us ends -->



{% endblock index %}