{% extends "employee_register/index.html" %}
{% block index %}
{% load static %}

{% comment %} {% static 'employee_register/' %} {% endcomment %}

<!--Page Header-->
<section id="main-banner-page" class="position-relative page-header contact-header section-nav-smooth parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="page-titles whitecolor text-center padding">
                    <h2 class="font-bold"> Contact Us</h2>
                    <h3 class="font-light py-3">We'd Love To Here From You.</h3>
                </div>
            </div>
        </div>
        <div class="gradient-bg title-wrap mt-n5">
            <div class="row">
                <div class="col-lg-12 col-md-12 whitecolor">
                    <h3 class="float-left">Contact Us</h3>
                    <ul class="breadcrumb top10 bottom10 float-right">
                        <li class="breadcrumb-item hover-light"><a href="{% url 'services' %}">Home</a></li>
                        <li class="breadcrumb-item hover-light">Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Page Header ends -->
<!-- Contact US -->
<section id="stayconnect1" class="bglight position-relative padding noshadow">
    <div class="container whitebox">
        <div class="widget py-5">
            <div class="row">
                <div class="col-md-12 text-center wow fadeIn mt-n3" data-wow-delay="300ms">
                    <h2 class="heading bottom30 darkcolor font-light2 pt-1"><span class="font-normal">Contact</span> Us
                        <span class="divider-center"></span>
                    </h2>
                    <div class="col-md-8 offset-md-2 bottom35">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 order-sm-2">
                    <div class="contact-meta px-2 text-center text-md-left">
                        <div class="heading-title">
                            
                            <h2 class="darkcolor font-normal mb-4"><span class="d-none d-md-inline-block">Our</span> Agency Office <span class="defaultcolor">London</span></h2>
                        </div>

                        <p class="bottom30">To book your conference with one of our accomplices, or make some other enquiries, kindly utilize the contact below. </p>

                        <p class="bottom30">Then again, on the off chance that you would prefer to address somebody face to face, you can reach us by phone on the 
                        number 020-737-502-42.  </p>

                        <p class="bottom30">Our office hour are between 10:00 am and 6:00pm, however meeting outside of those occasions might be made by earlier plan. 
                        In the event that you can't call during our available time, kindly leave a message on our voice message, and we will return as quickly as 
                        time permits. </p>

                        <p class="bottom10">Address: 24 Osborn Street, London E1 6TD.</p>
                        <p class="bottom10">Phone: 020-737-502-42</p>
                        <p class="bottom10"><a href="#">Email: info@mohsinandco.com</a></p>
                        <p class="bottom10">Available Hours: Mon-Fri: 10am-6pm</p>
                        <ul class="social-icons mt-4 mb-4 mb-sm-0 wow fadeInUp" data-wow-delay="300ms">
                            <li><a href="https://www.facebook.com/mohsincoUK/"><i class="fab fa-facebook-f"></i> </a> </li>
                            <li><a href="https://Twitter.com/mohsincouk"><i class="fab fa-twitter"></i> </a> </li>
                            <li><a href="https://www.linkedin.com/company/mohsin-co-accountants/"><i class="fab fa-linkedin-in"></i> </a> </li>
                            <li><a href="https://www.instagram.com/mohsincouk/"><i class="fab fa-instagram"></i> </a> </li>
                            {% comment %} <li><a href="javascript:void(0)"><i class="fab fa-whatsapp"></i> </a> </li> {% endcomment %}
                            {% comment %} <li><a href="javascript:void(0)"><i class="far fa-envelope"></i> </a> </li> {% endcomment %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 padding_bottom_half">
                <div class="image"><img alt="SEO" src="{% static 'employee_register/images/bg-contact.jpg' %}"></div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="widget text-center top60 w-100">
                    <div class="contact-box">
                        <span class="icon-contact defaultcolor"><i class="fas fa-mobile-alt"></i></span>
                        <p class="bottom0"><a href="tel:+14046000396">020-737-502-42</a></p>
                        {% comment %} <p class="d-block"><a href="tel:+43720778972">+43720778972</a></p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="widget text-center top60 w-100">
                    <div class="contact-box">
                        <span class="icon-contact defaultcolor"><i class="fas fa-map-marker-alt"></i></span>
                        <p class="bottom0">24 Osborn Street, London E1 6TD </p>
                        {% comment %} <p class="d-block">123 Street New Yolo , Austria </p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="widget text-center top60 w-100">
                    <div class="contact-box">
                        <span class="icon-contact defaultcolor"><i class="far fa-envelope"></i></span>
                        <p class="bottom0"><a href="mailto:admin@website.com">info@mohsinandco.com</a></p>
                        {% comment %} <p class="d-block"><a href="mailto:email@website.com">email@website.com</a></p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="widget text-center top60 w-100">
                    <div class="contact-box">
                        <span class="icon-contact defaultcolor"><i class="far fa-clock"></i></span>
                        <p class="bottom15">Monday - Friday<span class="d-block">10:00 am - 06:00 pm </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact US ends -->

{% endblock index %}